asgiref==3.2.10
bcrypt==3.2.0
boto3==1.15.16
botocore==1.18.16
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
Django==3.1.1
django-cors-headers==3.5.0
django-redis==4.12.1
gunicorn==20.0.4
idna==2.10
jmespath==0.10.0
loadtest==0.0.2
locus==0.7.1
mysqlclient==2.0.1
Pillow==8.0.0
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
reprit==0.2.2
requests==2.24.0
robust==0.2.5
s3transfer==0.3.3
selenium==3.141.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
